@CHARSET "UTF-8";

.section {
	
}

h3 {
	color: blue;
	background-color: #bbc;
	padding: 3px 10px;
}

.code {
	padding: 5px 10px;
	border: 1px solid #009;
	font: 1em Courier, monospace;
	
}

p.title {
	font-weight: bold;
}

p.sub-title {
	font-style: italic;
	color: red;
}

span.code-result {
	color: red;
	line-height: 2em;
	padding: 5px;
	border: 1px dotted #aaa;
}

span.code-explain {
	color: blue;
	font-weight: bold;
}

li {
	line-height: 1.5em;
}